.navbar{
  display: flex;
  justify-content: flex-start;
  background-color: grey;
}
nav{
    display: flex;
  } 
h3{
  margin-top: 20px;
  margin-left: 50px;
}
ul{
  margin-left: 20px;
  display: flex;
  margin-right:100px;

  
}
li{
  list-style: none;
  padding: 30px;
  
}
img{
  margin-left: 20px;
  height: 80px;
  width: 80px;
} 
a{
  text-decoration: none !important;
  color: black !important;
} 
.cartwidget{
    color: black;
    height: 20px; 
    width: 20px ;
    margin-right: 50px;
}